
/* link color */
a {
color: #BA751B
}

/* For author name */
nm {
color: white;
}


/* background goes here (same as in styles.css now) */
.demo-1 .large-header {
	background-image: url('../img/demo-1-bg.jpg');
/* 	background-image: url('http://dreamatico.com/data_images/night/night-1.jpg'); */
/* 	background-image: url('../img/night-11.jpg'); */
}


/* button background on header */
 .main-tagline .btn-theme {
 background-color: #064766;
 }
 
/*  hover for button */
.btn:hover, .btn:focus, .btn.focus {
  color: #F27A31;
  }

.main-title {
top: 42%;
}

/*  Move the button below book */
 .main-tagline {
  padding-top: 400px;
}

/* background for about-book area */
.news-col1, .xnews {
background-color:black;
}

/* font for about book area */
.news-col2  {
color:white;
}

/* color for clue area */
.clue-area p {
color:white;
}
.news-col2 p, .author-text p {
font-size: 18px;
color:white;
}

/* about book h5 title */
  
.about-book {
 color: #F7CA18;

}

/* about author h5 title */
h5.centered.about-author {
  color: #F7CA18 !important;
}
